/* staticstic 전체 container */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100%;
}

/* staticstic 왼쪽 페이지 container */
.logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;
    padding: 0% 0% 4%;

    width: 50%;
    height: 100%;
}

/* staticstic 로고 */
.logo {
    object-fit: contain;
    cursor: pointer;
    width: 100%;
    height: 35%;
}

/* staticstic 페이지 안내 텍스트 */
.text {
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: #B35310;
}

.stContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;
    padding-bottom: 40px;


    width: 50%;
    height: 100%;
}

.selectOption {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 95%;
    margin-bottom: 15px;
}

.sizeOption {
    width: 20%;
    height: 50px;
    border: 4px solid #B35310;
    border-radius: 25px;
}

.sizeOptionSubmit {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: 600;
    background-color: #B35310;
    color: white;
    cursor: pointer;
}

.sizeOptionSelect {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 25px;
    font-weight: 600;

    background-color: #f1ebe3;
}

.sizeOptionSubmit {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* 통계 테이블 */
.table {
    display: flex;
    flex-direction: column;
    background-color: #f1ebe3;
    border: 4px solid #B35310;
    border-radius: 25px;
    width: 95%;
    box-sizing: border-box;
    padding: 0px 15px;
    padding-bottom: 10px;
}

.rowBox {
    border-bottom: 2px solid #ccc;
}

.headRow {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px;

    color: #a64f10;
    font-weight: 900;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    font-weight: 600;
    font-size: 15px;
}

.cell {
    flex: 1;
    text-align: center;
}