.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectOption {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.sizeOption {
    width: 90px;
    height: 50px;
    margin-top: 25%;
    margin-right: 10px;
    border: 3px solid chocolate;
    border-radius: 25px;
    overflow: hidden;
    text-align-last: center;
}

.sizeOptionSubmit, 
.sizeOptionSelect {
    width: 100%;
    height: 100%; 
    border: none;
    outline: none;  
    border-radius: 25px;
}

.sizeOptionSubmit{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.table {
    box-sizing: border-box;
    padding: 20px;
    border: 3px solid chocolate;
    border-radius: 25px;
    margin-top: 30px;
}