/* Home 전체 container */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100%;
}

/* Home 왼쪽 페이지 container */
.logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;
    padding: 0% 0% 4%;

    width: 50%;
    height: 100%;
}

/* Home 로고 */
.logo {
    object-fit: contain;
    width: 100%;
    height: 35%;
}

/* report 페이지 안내 텍스트 */
.text {
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: #B35310;
}



/* Home 오른쪽 페이지 container*/
.selectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 0% 5% 5%;
    width: 50%;
    height: 100%;
}

.selectText {
    padding: 3%;
    text-align: center;

    font-size: 35px;
    font-weight: bolder;
    color: #B35310;
}

.selectOption {
    background-color: #dcb79c;
    border-radius: 25px;

    font-size: large;
    font-weight: bolder;
    text-align: center;
    color: white;
    
    margin: 3% 0%;
    padding: 3%;
    width: 70%;
}

.selectOption:hover{
    background-color: #B35310;
    border-radius: 25px;

    font-size: large;
    font-weight: bolder;
    text-align: center;
    color: white;
    
    margin: 3% 0%;
    padding: 3%;
    width: 70%;

    cursor: pointer;
}

/* 메일 전용 css */
.selectOptionMail {
    position: relative;

    background-color: #dcb79c;
    border-radius: 25px;

    font-size: large;
    font-weight: bolder;
    text-align: center;
    color: white;
    
    margin: 3% 0%;
    padding: 3%;
    width: 70%;
}

.badge {
    position: absolute;

    top: -10px;
    right: -5px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    line-height: 38px;

    background-color: #dc5d46;

}