/* FllorBar.css */
.floorBar {
  width: 15%;
  background-color: white;
  padding: 10px;
  order: 2;
  max-height: 100%;
  margin-right: 0;
}

.floorList {
  overflow-y: auto;
  /* Y축 스크롤 추가 */
  height: 100%;
}


.floorItem {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-content:  stretch;


  margin: auto;
  width: 70%;
  height: 10%;
  margin: 10px;
  border-radius: 15px;
  font-weight: 900;

  cursor: pointer;
  color: white;

  text-align: center;
  
  
  border: 1px solid #C47D4A;
  background-color: #C47D4A;

}

.floorItem :hover {
  background-color: #a5693e;
}

.floorCongestion {
  display: flex;
  flex-direction: row;
  height: 25%;
}

.floorCongestion div{
  height: 100%;
  width: 20%;
  margin: 0% 3%
}

.floorText {
  margin-top: 7%;
}