<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.poopkey.application.main.dao.RestroomDao">
    <select id="selectList" parameterType="int" resultType="Restroom">
        SELECT * FROM restroom
        WHERE building_id = #{buildingId}
    </select>
</mapper>