<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.poopkey.model.dao.ReportDao">
    <!-- 신고등록하기 -->
    <insert id="insert" parameterType="Report" useGeneratedKeys="true" keyProperty="reportId">
        INSERT INTO report
        (stall_id, restroom_id, content,
            user_report_reason) VALUES
        (#{stallId}, #{restroomId}, #{content}, #{userReportReason})
    </insert>
</mapper>