<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.poopkey.application.main.dao.StallDetailDao">
    <select id="selectOne" parameterType="long" resultType="StallDetail">
        SELECT last_used_time AS lastUsedTime,
        used_number_after_cleaning AS usedNumberAfterCleaning
        FROM stall
        WHERE stall_id = #{stallId}
    </select>
</mapper>