<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.poopkey.model.dao.TissueShortageStatusDao">
    <select id="selectOne" parameterType="long" resultType="TissueShortageStatus">
        SELECT s.stall_id AS stallId, IF(i.tissue &lt;= 5, 1, 0) AS tissueStatus
        FROM stall AS s
        INNER JOIN item i
        ON s.stall_id = i.stall_id
        WHERE s.stall_id = #{stallId}
    </select>
</mapper>