<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.poopkey.model.dao.UserRegistDao">
    <!-- 사용자 회원가입(스프링 시큐리티, 카카오 로그인 적용 이전)-->
    <insert id="insert" parameterType="Report" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user
        (password, email, phone, created_date, name)
        VALUES
        (#{password}, #{email}, #{phone}, CURRENT_TIMESTAMP, #{name})
<!--        (#{reportId}, #{stallId}, #{restroomId}, #{content}, CURRENT_TIMESTAMP, #{userReportReason})-->
    </insert>
</mapper>